<?xml version="1.0"?>
<launch>
    <!-- Add RViz markers -->
    <node name="add_markers" pkg="bme_ros_navigation" type="add_markers" respawn="false" output="screen">
    </node>

    <!-- Send navigation goals -->
    <node name="nav_goals" pkg="bme_ros_navigation" type="nav_goals" respawn="false" output="screen">
    </node>

</launch>